@font-face {
    font-family: Minecraft;
    src: url(mcfont.otf);
}

:root {
    --bg-color: rgb(72, 72, 72)
}

body {
    background-color: var(--bg-color);
    font-family: Minecraft, consolas, monospace;
    color: white;
    overflow-x: hidden;
}

.itempanel {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.255);
    padding: 10px;
    border-radius: 1rem;
    vertical-align: top;
}

button {
    border-radius: 1rem;
}

div[lore] {
    background-color: rgb(46, 46, 46);
    width: max-content;
    padding: 0.5rem;
    border-radius: 1rem;
}

span.c0 {
    color: black;
}

span.c1 {
    color: #0000AA;
}

span.c2 {
    color: #00AA00;
}

span.c3 {
    color: #00AAAA;
}

span.c4 {
    color: #AA0000;
}

span.c5 {
    color: #AA00AA;
}

span.c6 {
    color: #FFAA00;
}

span.c7 {
    color: #AAAAAA;
}

span.c8 {
    color: #555555;
}

span.c9 {
    color: #5555ff;
}

span.ca {
    color: #55FF55;
}

span.cb {
    color: #55FFFF;
}

span.cc {
    color: #FF5555;
}

span.cd {
    color: #FF55FF;
}

span.ce {
    color: #FFFF55;
}

span.cf {
    color: #FFFFFF;
}

span.cl {
    font-weight: 600;
}

span.cm {
    text-decoration: line-through;
}

span.cn {
    text-decoration: underline;
}

span.co {
    font-style: italic;
}

/* Tiers */

span.COMMON {
    color: #D1D5D8;
}

span.UNCOMMON {
    color: #55FF55;
}

span.RARE {
    color: #5555ff;
}

span.EPIC {
    color: #AA00AA;
}

span.LEGENDARY {
    color: #FFAA00;
}

span.MYTHIC {
    color: #FF55FF;
}

span.SUPREME {
    color: #55FFFF;
}

span.SPECIAL {
    color: #FF5555;
}

span.VERY_SPECIAL {
    color: #AA0000;
}

.star {
    font-weight: 400;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30vw;
    height: 10vh;
    background-color: #fff;
    border-radius: 0 1rem 1rem 0 ;
    color: black;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    justify-content:center;
    align-items:center;
}

h3[credits] {
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    color: white;
    background: black;
    width: 40ch;
    border-radius: 1rem;
}

.info {
    display: block;
    position: absolute;
    transform: translate(96px, -100px);
    z-index: 10000;
    width: max-content;
    border-radius: 1rem;
    background-color: rgb(59, 59, 59);
    padding: 1rem;

}

.loaded {
    position: fixed;
    color: white;
    text-align: center;
    background: black;
    border-radius: 1rem;
    bottom: 1rem;
    width: calc(20vw);
    left: 50%;
    transform: translate(-50%);
}

.options-disabled {
    display: none !important;
}

.options {
    position: fixed;
    right: 0;
    width: 20vw;
    height: 100vw;
    background-color: rgb(30, 30, 30);
    border-radius: 1rem;
    top: 0;
}

.options > * {
    margin: 0.2rem;
}

.autocomplete {
    display:none;
    position: absolute;
    left: 1rem;
    background-color: black;
    max-width: 512px;
    max-height: 256px;
    overflow-x: none;
}

#search:focus ~ .autocomplete {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  
}

.item-autocomplete {
    width: calc(100% - 2rem);
    height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
}

.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 32px;
    align-items: center;
    

}

.indent-down {
    position: absolute;
    top: 32px;
}

.navbar-padder {
    width: 16px;
}

.auction-browser {
    animation: slide-out ease-in-out 0.8s;
    display: block;
    position: absolute;
    width: 100vw;
    left: 100%;
    min-height: calc(100vh - 32px);
    background-color: rgb(38, 38, 38);
    border-radius: 1rem;
    
}
.profile-viewer {
    animation: slide-out ease-in-out 0.8s;
    display: block;
    position: absolute;
    width: 100vw;
    left: 100%;
    background-color: rgb(38, 38, 38);
    border-radius: 1rem;
    min-height: 100vh;
}

.appear {
    display: block;
    animation: slide-in ease-in-out 0.8s;
    left: 0;
    overflow-y: scroll;
}

@keyframes slide-out {
    0% {
        left: 0;
    }

    100% {
        left: 100vw;
    }
}

@keyframes slide-in {
    100% {
        left: 0;
        
    }

    0% {
        left: 100vw;
    }
}

.homepage {
    padding-top: 1rem;

}

*[center] {
    text-align: center;
}

/** custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/** navbar buttons */

.navbar-button {
    width: 128px;
    height: 24px;
    border-radius: 0;
    background-color: rgb(111, 111, 111);
    border: 2px outset rgb(40, 40, 40);
    color: white;
    font-family: Minecraft;
}

.settings {
    position: absolute;
    width: 40vw;
    height: 70vh;
    background-color:rgb(86, 86, 86);
    left: 50%;
    top: 50%;
    padding: 1rem;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
}

#username {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 60vw;
    height: 32px;
}

#pvgo {
    width: 128px;
    height: 32px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 48px;
}

.pvpadder {
    height: 82px;
    width: 100vw;
}

lbdr {
    display: inline-block;
    width: 16px;
}