@font-face {
    font-family: Minecraft;
    src: url(mcfont.otf);
}

body {
    background-color: rgb(72, 72, 72);
    font-family: Minecraft, consolas, monospace;
    color: white;
}

.itempanel {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.255);
    padding: 10px;
    border-radius: 1rem;
    vertical-align: top;
}

button {
    border-radius: 1rem;
}

div[lore] {
    background-color: rgb(46, 46, 46);
    width: max-content;
    
}

span.c0 {
    color: black;
}

span.c1 {
    color: #0000AA;
}

span.c2 {
    color: #00AA00;
}

span.c3 {
    color: #00AAAA;
}

span.c4 {
    color: #AA0000;
}

span.c5 {
    color: #AA00AA;
}

span.c6 {
    color: #FFAA00;
}

span.c7 {
    color: #AAAAAA;
}

span.c8 {
    color: #555555;
}

span.c9 {
    color: #5555ff;
}

span.ca {
    color: #55FF55;
}

span.cb {
    color: #55FFFF;
}

span.cc {
    color: #FF5555;
}

span.cd {
    color: #FF55FF;
}

span.ce {
    color: #FFFF55;
}

span.cf {
    color: #FFFFFF;
}

span.cl {
    font-weight: 600;
}

span.cm {
    text-decoration: line-through;
}

span.cn {
    text-decoration: underline;
}

span.co {
    font-style: italic;
}

/* Tiers */

span.COMMON {
    color: #D1D5D8;
}

span.UNCOMMON {
    color: #55FF55;
}

span.RARE {
    color: #5555ff;
}

span.EPIC {
    color: #AA00AA;
}

span.LEGENDARY {
    color: #FFAA00;
}

span.MYTHIC {
    color: #FF55FF;
}

span.SUPREME {
    color: #55FFFF;
}

span.SPECIAL {
    color: #FF5555;
}

.star {
    font-weight: 400;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30vw;
    height: 10vh;
    background-color: #fff;
    border-radius: 0 1rem 1rem 0 ;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

h3[credits] {
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    color: white;
    background: black;
    width: 40ch;
    border-radius: 1rem;
}

.info {
    display: block;
    position: absolute;
    transform: translate(96px, -100px);
    z-index: 10000;
    width: max-content;
    border-radius: 1rem;
    background-color: rgb(59, 59, 59);
}